/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.imgbook{
    transition:all 1s ease-in;
    width:400px;
}
.imgbook:hover{
    transform:scale(0.9);
    cursor:pointer;
}
.imgsachbannhieu{
    width:100px;
}
.colorText{
    color:aliceblue;
}
p{
    max-width:300px;
    word-wrap:break-word;
}
.tensach{
    font-size: 30px;
    font-weight: normal;
    color:black;
}
.custom-search-input {
    width: 800px;
}
.Sach{
    font-size:100px
}
