
@{
    ViewBag.Title = "SachTheoChuDe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SachTheoChuDe</h2>
<div class="row text-center container body-content">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src=@item.Anhbia class="img-thumbnail rounded-5" alt="...">
                <div class="caption">
                    <a href=@Url.Action("ChiTietSach", "SachOnline", new {id=item.Masach})>@item.Tensach </a>
                    <p>@item.Mota</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            <span class="glyphiconglyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
